name: CI with matplotlib and pandas

on:
  push:
  pull_request:

jobs:
  ruby-versions:
    uses: ruby/actions/.github/workflows/ruby_versions.yml@master
    with:
      engine: cruby
      min_version: 3.1
      versions: '["debug"]'

  test:
    needs: ruby-versions
    name: ${{ matrix.os }}/${{ matrix.ruby }}/${{ matrix.python }}-${{ matrix.python_architecture }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10

    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-latest
        - ubuntu-22.04
        ruby: ${{ fromJson(needs.ruby-versions.outputs.versions) }}
        python:
        - 3.x
        python_architecture:
        - x64

    env:
      BUNDLE_WITHOUT: "nmatrix numo"
      PYTHON: python

    steps:
    - uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        architecture: ${{ matrix.python_architecture }}
        cache: "pip"
        python-version: ${{ matrix.python }}

    - run: pip install -r requirements.txt

    - run: npm install playwright@latest
    - run: ./node_modules/.bin/playwright install

    - run: sudo apt install build-essential libsqlite3-dev

    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
        ruby-version: ${{ matrix.ruby }}

    - uses: actions/cache@v4
      with:
        path: ~/.cache/red-datasets
        key: ${{ runner.os }}-${{ hashFiles('charty.gemspec') }}
        restore-keys: ${{ runner.os }}-

    - run: bundle exec rake
